<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <title>Products</title>
    </head>
    <body>
        <h1>Bienvenido a la Tienda Online</h1>
        {{#if user}}
            <p>Bienvenido, {{user.name}} ({{user.role}})</p>
            {{#each products}}
                <div>
                    <h2>{{this.name}}</h2>
                    <p>Price: {{this.price}}</p>
                    <p>Category: {{this.category}}</p>
                    <p>Description: {{this.description}}</p>
                    <button>Add to Cart</button>
                </div>
            {{/each}}
        {{else}}
            <p>Por favor, inicia sesión o regístrate para ver los productos.</p>
        {{/if}}
    </body>
</html>